/* HEADER */

header {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  border: 2px solid #006bb6;
  border-radius: 0.3rem;
}

header nav a {
  text-decoration: none;
  color: #006bb6;
  font-weight: 600;
  transition: 0.2s;
}

header nav a:hover {
  color: #ed434c;
}

header nav a:not(:first-child) {
  margin-left: 1rem;
}

/* WELCOME */

section#welcome {
  width: 50rem;
  height: 10rem;
  margin: 3rem auto;
  background-image: url('/assets/background.jpg');
  background-size: cover;

  display: flex;
  align-items: center;

  background-color: gray;
}

#welcome h1 {
  margin: 0;
  margin-left: 2rem;
  font-size: 3rem;
  color: white;
}

/* MIDIA */

section#midia {
  width: 80%;
  margin: auto;
  padding: 1rem 3rem;

  display: grid;
  flex-direction: column;
  grid-template-areas:
    'rewind audio'
    'rewind buttons-rewind'
    'jogada jogadas-text'
    'jogada buttons-jogada';
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  align-items: center;

  text-align: center;
  background-color: white;
}

#midia h3 {
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2.5rem;
  color: #006bb6;
  font-weight: 600;
}

.video#rewind {
  grid-area: rewind;
}

.audio#rewind-audio {
  grid-area: audio;
}

.controllers#controllers-rewind {
  grid-area: buttons-rewind;
}

#jogadas-text {
  grid-area: jogadas-text;
}

.controllers#controllers-jogada {
  grid-area: buttons-jogada;
}

.controllers {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.video#jogada {
  grid-area: jogada;
}

.controllers button {
  width: 15rem;
  height: 4rem;
  cursor: pointer;
  padding: 1rem;
  word-break: break-all;
  background-color: #006bb6;
  border: none;
  border-radius: 0.3rem;
  color: white;
  transition: 0.3s;
}

.controllers button:hover {
  opacity: 80%;
}

.previous i {
  margin-right: 0.6rem;
}

.next i {
  margin-left: 0.6rem;
}

.controllers button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

/* FOOTER */

footer {
  width: 100%;
  height: 10rem;
  margin-top: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  color: white;
  background-color: #006bb6;
}
